@using DisnApp.ViewModel
@model List<ChatCandidateVM>

@foreach (var u in Model)
{
    <div class="candidate-row">
        <img alt="User" class="rounded-circle border" height="32" width="32" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAKfXT6RT6YYfXo9Bwl8DcQfhZ_cjNET89cwNSuQsovkacbuvXGi0jRYs7Fzy91NU3ScQt-C4O7gG7t2Ihp1HJGwqkbZaDNvtBc1afPnEccu0h_Z_hsb2xYfRsqDgeoPgMdOske_TpkNdbbFDg_4X49TcsUuDJWlAI4dHe8nj-C7eSZkhyQMlrHWXTswQXTHstGrpERyIJP1-LVe57aSK2REozLQZ5tx0DRn1Cj0UjT0uKIokbwgZeeFc5oVWqGZzjg8_d76tsqANwe" />
        <span>@u.Nombre</span>

        @if (u.TieneConversacion)
        {
            <a class="btn btn-sm btn-primary"
               asp-controller="Mensaje"
               asp-action="Chat"
               asp-route-id="@u.ConversacionId">
                Abrir chat
            </a>
        }
        else
        {
            <form asp-controller="Mensaje" asp-action="CreateOrGet" method="post" style="display:inline">
                <input type="hidden" name="receptorId" value="@u.UsuarioId" />
                <button type="button"
                        class="btn btn-sm btn-success js-create-chat"
                        data-user-id="@u.UsuarioId">
                    +
                </button>
            </form>

        }
    </div>
}

