@model List<Comentario>

@* Comentarios reales *@
@if (Model != null && Model.Any())
{
    @foreach (var c in Model.OrderByDescending(x => x.FechaComentario))
    {
        <div class="d-flex mb-3 justify-content-between gap-3">
            <div class="d-flex">
                <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuAKfXT6RT6YYfXo9Bwl8DcQfhZ_cjNET89cwNSuQsovkacbuvXGi0jRYs7Fzy91NU3ScQt-C4O7gG7t2Ihp1HJGwqkbZaDNvtBc1afPnEccu0h_Z_hsb2xYfRsqDgeoPgMdOske_TpkNdbbFDg_4X49TcsUuDJWlAI4dHe8nj-C7eSZkhyQMlrHWXTswQXTHstGrpERyIJP1-LVe57aSK2REozLQZ5tx0DRn1Cj0UjT0uKIokbwgZeeFc5oVWqGZzjg8_d76tsqANwe"
                     class="rounded-circle avatar-sm me-3 mt-1"
                     alt="Profile"
                     onerror="this.style.display='none';" />
                <div>
                    <p class="small mb-1">
                        <span class="fw-bold">@c.Usuario.UserName</span>
                        @c.Contenido
                    </p>
                    <div class="d-flex align-items-center gap-3">
                        <span class="text-muted small">
                            @c.FechaComentario.ToString("dd/MM HH:mm")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="text-muted small">Todavía no hay comentarios.</div>
}
