@model List<Usuario>

@if (!Model.Any())
{
    <div class="text-muted small p-2">Sin resultados</div>
}
else
{
    <ul class="list-group list-group-flush">
        @foreach (var u in Model)
        {
            <li class="list-group-item d-flex align-items-center gap-2">
                <a id="manage" class="nav-link text-dark sidebar-link" asp-area="" asp-controller="Usuario" asp-action="Details" asp-route-username="@u.UserName">
                    <img alt="User" class="rounded-circle border" height="32" width="32" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAKfXT6RT6YYfXo9Bwl8DcQfhZ_cjNET89cwNSuQsovkacbuvXGi0jRYs7Fzy91NU3ScQt-C4O7gG7t2Ihp1HJGwqkbZaDNvtBc1afPnEccu0h_Z_hsb2xYfRsqDgeoPgMdOske_TpkNdbbFDg_4X49TcsUuDJWlAI4dHe8nj-C7eSZkhyQMlrHWXTswQXTHstGrpERyIJP1-LVe57aSK2REozLQZ5tx0DRn1Cj0UjT0uKIokbwgZeeFc5oVWqGZzjg8_d76tsqANwe" />
                    <span>@u.UserName</span>
                </a>
            </li>
        }
    </ul>
}
